.text_xxs {
	font-size: 12px;
	line-height: 1.4;
}

.text_xs {
	font-size: 14px;
	line-height: 1.4;
}

.text_sm {
	font-size: 18px;
	line-height: 1.4;

	@include xxl_down {
		font-size: 16px;
	}

	@include md-down {
		font-size: 14px;
	}
}

//for default body copy font
.text_reg {
	font-size: 22px;
	line-height: 1.4;

	@include xxl_down {
		font-size: 20px;
	}

	@include md-down {
		font-size: 18px;
	}
}

.text_md {
	font-size: 28px;
	line-height: 1.2;

	@include xxl_down {
		font-size: 24px;
	}

	@include md-down {
		font-size: 22px;
	}
}

.text_lg {
	font-size: 40px;
	line-height: 1.2;

	@include xxl_down {
		font-size: 36px;
	}

	@include md-down {
		font-size: 30px;
	}
}

.text_xl {
	font-size: 46px;
	line-height: 1.2;

	@include xxl_down {
		font-size: 40px;
	}

	@include md-down {
		font-size: 36px;
	}
	@include sm-down {
		font-size: 30px;
	}
}

// .text_xxl {}
// .text_xxxl {}
// .text_xxxxl {}

// //each loop for creating font weights ->
// //.text_100, .text_200 .....
$sizes: 400, 500, 600, 700, 800, 900; //reg,med,semibold,bold,extrabold,black

@each $size in $sizes {
	.text_#{$size} {
		font-weight: $size;
	}
}
