/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url(../../../public/fonts/Montserrat-Regular.ttf) format("ttf");
  src: url(../../../public/fonts/Montserrat-SemiBold.ttf) format("ttf");
  src: url(../../../public/fonts/Montserrat-Bold.ttf) format("ttf");
}