@import "../helpers/helpers.scss";

.apelabs {
	overflow: hidden;

	.elements {
		position: absolute;
	}

	.section_row {
		align-items: center;
	}

	.button_section {
		@extend %d_flex;
		@extend %rel_x_center;
		bottom: 0;

		a {
			margin: 0 10px;
		}
	}

	.section_desc {
		margin: 20px 0;
	}
	@-moz-keyframes spin {
		100% {
			-moz-transform: rotate(360deg);
		}
	}
	@-webkit-keyframes spin {
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes spin {
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	.hero_wrap {
		background-color: var(--color_secondary);
		width: 200vw;
		height: 100vh;
		@extend %d_flex;

		.heroSection1 {
			width: 40%;
			justify-content: center;
			align-items: flex-end;

			@include sm-down {
				width: 60%;
			}

			.leaf1 {
				left: 0;
				bottom: 0;
				width: 25%;
			}

			.leaf2 {
				right: 0;
				bottom: 0;
				width: 27%;
			}

			.section_content {
				text-align: center;

				.hero_content {
					.logo_img {
						img {
							margin: 0 auto;
						}
					}

					.hero_text {
						margin: 20px 0;
					}

					.hero_img {
						width: 50%;
						margin: 0 auto;

						img {
							margin: 0 auto;
						}
					}
				}
			}
		}

		.heroSection2 {
			width: 60%;

			.hero_left1 {
				left: 0;
				bottom: 0;
				width: 38%;
				z-index: 2;
			}

			.hero_left2 {
				right: 0;
				bottom: 0;
				width: 38%;
				z-index: 2;
			}

			.hero2_content {
				@extend %relative_box;

				.airspin_text_img {
					@extend %rel_xy_center;
				}

				.airspin_img {
					margin: 0 auto;
					mix-blend-mode: screen;
					// -webkit-animation: spin 4s linear infinite;
					// -moz-animation: spin 4s linear infinite;
					// animation: spin 4s linear infinite;
				}
			}
		}
	}

	.section1 {
		background-color: var(--color_secondary);

		.leaf1 {
			left: 0;
			bottom: 0;
			width: 25%;

			@include sm-down {
				width: 40%;
				bottom: 70%;
			}
		}

		.leaf2 {
			right: 0;
			bottom: 0;
			width: 20%;
			@include sm-down {
				width: 40%;
			}
		}

		.section_content {
			width: 80%;
			margin: 0 auto;
			@include sm-down {
				width: 100%;
			}

			.section_row {
				@include sm-down {
					flex-direction: column-reverse;
				}
			}

			.section_left_content {
				padding-right: 5%;
			}
		}
	}

	.section2 {
		.section_content {
			.slider_wrap {
				// width: 80%;
				// margin: 0 auto;
				@include sm-down {
					width: 100%;
				}
				:global(.slick-dots) {
					bottom: -75px;
					li {
						width: 25px;
						height: 25px;
						margin: 0 10px;
						border-radius: 50px;
						&:first-child {
							background-color: #212629;
						}
						&:nth-child(2) {
							background-color: #c1c1c1;
						}
						&:nth-child(3) {
							background-color: #e89c77;
						}
						&:nth-child(4) {
							background-color: #7a98d3;
						}
						&:nth-child(5) {
							background-color: #6b64cc;
						}
						button {
							&:before {
								font-size: 0;
							}
						}
					}
				}
			}
			.product_wrap {
				@extend %f_r_a_center;

				.product_img {
					@include sm-down {
						&:first-child {
							display: none;
						}

						&:last-child {
							display: none;
						}
					}
				}
			}

			.section_text {
				margin-top: 15px;
				text-align: center;
			}

			.button_wrap {
				margin-top: 40px;
				@extend %f_r_aj_center;

				.cmn_link {
					margin-left: 10px;
					color: var(--color_secondary);

					&:after {
						background-color: var(--color_secondary);
					}
				}
			}
		}
	}

	.section3 {
		background-color: #671edd;
		overflow: hidden;
		@include sm-down {
			background-size: 100%;
		}

		.leaf1 {
			left: 0;
			bottom: 0;
			width: 53%;
			z-index: 2;
			@include sm-down {
				left: -55%;
				bottom: 34%;
				width: 146%;
			}
		}

		.leaf2 {
			right: 0;
			bottom: 0;
			width: 20%;
		}

		.section_row {
			width: 80%;
			margin-left: auto;
			justify-content: flex-end;
			@include sm-down {
				width: 100%;
				margin-top: 110%;
			}
		}
	}

	.section4 {
		background-color: #875551;

		.section_left_content {
			padding: 0 5%;
			@include sm-down {
				margin-top: -50%;
			}
		}

		.leaf1 {
			right: 0;
			bottom: 0;
			width: 25.3%;
			z-index: 2;
			@include sm-down {
				width: 40%;
			}
		}

		.leaf2 {
			right: 0;
			bottom: 0;
			width: 20%;
			z-index: 2;
			@include sm-down {
				width: 35%;
			}
		}

		.product_img {
			width: 40%;
			position: absolute;
			bottom: 0;
			right: 9%;
			@include sm-down {
				right: 15%;
				width: 75%;
			}
		}
	}

	.section5 {
		background-color: #2e7c53;

		.leaf1 {
			left: 0;
			bottom: 0;
			width: 32%;
			z-index: 2;
			@include sm-down {
				left: -36%;
				bottom: 0;
				width: 80%;
				z-index: 0;
			}
		}

		.leaf2 {
			right: 0;
			bottom: 0;
			width: 11.5%;
			@include sm-down {
				bottom: 30%;
				width: 20%;
			}
		}

		.product_img {
			position: absolute;
			bottom: -14%;
			width: 33%;
			left: 18%;
			@include sm-down {
				bottom: -3%;
				width: 58%;
				left: 21%;
			}
		}
		.section_left_content {
			padding: 0 7%;
			@include sm-down {
				margin-top: -50%;
			}
		}

		.section_row {
			justify-content: flex-end;
		}
	}

	.section6 {
		background-color: #84774e;
		overflow: hidden;

		.section_left_content {
			padding: 0 12%;
			@include sm-down {
				padding: 0 0%;
				margin-top: -85%;
			}
		}

		.leaf1 {
			left: 0;
			bottom: 0;
			width: 25%;
			@include sm-down {
				width: 97%;
			}
		}

		.leaf2 {
			right: -10%;
			bottom: -24%;
			width: 54%;
			@include sm-down {
				right: -16%;
				bottom: 4%;
				width: 90%;
			}
		}
	}
}
