@import "../helpers/helpers.scss";

.apelabs {

    // overflow: hidden;
    .elements {
        position: absolute;
    }

    .section_row {
        align-items: center;
    }

    .button_section {
        @extend %d_flex;
        @extend %rel_x_center;
        bottom: 0;

        a {
            margin: 0 10px;
        }
    }
    
    .section_desc {
        margin: 20px 0;
    }
    
    .hero_wrap {
        background-color: var(--color_secondary);
        width: 200vw;
        height: 100vh;
        @extend %d_flex;

        .heroSection1 {
            width: 40%;
            justify-content: center;
            align-items: flex-end;

            .leaf1 {
                left: 0;
                bottom: 0;
                width: 25%;
            }

            .leaf2 {
                right: 0;
                bottom: 0;
                width: 27%;
            }

            .section_content {
                text-align: center;

                .hero_content {

                    .logo_img {
                        img {
                            margin: 0 auto;
                        }
                    }

                    .hero_text {
                        margin: 20px 0;
                    }

                    .hero_img {
                        width: 50%;
                        margin: 0 auto;

                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .heroSection2 {
            width: 60%;

            .hero_left1 {
                left: 0;
                bottom: 0;
                width: 38%;
            }

            .hero_left2 {
                right: 0;
                bottom: 0;
                width: 38%;
            }

            .hero2_content {
                @extend %relative_box;

                .airspin_text_img {
                    @extend %rel_xy_center;
                }

                .airspin_img {
                    margin: 0 auto;
                }
            }
        }
    }

    .section1 {
        background-color: var(--color_secondary);

        .leaf1 {
            left: 0;
            bottom: 0;
            width: 25%;
        }

        .leaf2 {
            right: 0;
            bottom: 0;
            width: 20%;
        }

        .section_content {
            width: 80%;
            margin: 0 auto;

            .section_left_content {
                padding-right: 5%;
            }
        }
    }

    .section2 {
        .section_content{
            .product_wrap {
                @extend %f_r_a_center;
            }
            .section_text{
                text-align: center;
            }
            .button_section{
                align-items: center;
                .cmn_link{
                    color: var(--color_secondary);
                    &:after{
                        background-color: var(--color_secondary);
                      }
                }
            }
        }
    }

    .section3 {
        background-color: #671EDD;

        .leaf1 {
            left: 0;
            bottom: 0;
            width: 35%;
            z-index: 2;
        }

        .leaf2 {
            right: 0;
            bottom: 0;
            width: 20%;
        }
        .section_row{
            width: 80%;
            margin-left: auto;
            justify-content: flex-end;
        }
    }

    .section4 {
        background-color: #875551;

        .section_left_content {
            padding: 0 5%;
        }

        .leaf1 {
            right: 0;
            bottom: 0;
            width: 25.3%;
            z-index: 2;
        }

        .leaf2 {
            right: 0;
            bottom: 0;
            width: 20%;
            z-index: 2;
        }
        .product_img{
            width: 40%;
            position: absolute;
            bottom: 0;
            right: 9%;
        }
    }

    .section5 {
        background-color: #2E7C53;

        .leaf1 {
            left: 0;
            bottom: 0;
            width: 32%;
            z-index: 2;
        }

        .leaf2 {
            right: 0;
            bottom: 0;
            width: 11.5%;
        }
        .product_img{
            position: absolute;
            bottom: -8%;
            width: 30%;
            left: 19%;
        }
        .section_row{
            justify-content: flex-end;
        }
    }

    .section6 {
        background-color: #84774E;
        overflow: hidden;

        .section_left_content {
            padding: 0 8%;
        }

        .leaf1 {
            left: 0;
            bottom: 0;
            width: 25%;
        }

        .leaf2 {
            right: -10%;
            bottom: -10%;
            width: 50%;
        }
    }
}