@import "../helpers/helpers.scss";
.features {
	background-color: #6d2828;
	.features_img {
		// img {
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: contain;
		// }
		&.desktop {
			height: 100vh;
			display: block;
			@include sm-down {
				display: none;
			}
		}
		&.mobile {
			display: none;
			@include sm-down {
				display: block;
			}
		}
	}
}
