@import "../helpers/helpers.scss";
.product_inside_wrap {
	:global(".header") {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(66, 66, 66, 0.8);
	}
}
.product_inside {
	@extend %relative_box;
	overflow: hidden;
	@extend %d_flex;
	height: 100vh;
	@include sm-down {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		height: unset;
	}
	.leaf1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		@include sm-down {
			width: 80%;
		}
	}

	.leaf2 {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 50%;
		@include sm-down {
			width: 70%;
		}
	}
	:global(.slick-slider) {
		height: 100vh;
		@include sm-down {
			height: 70vh;
		}
		:global(.slick-list) {
			height: 100%;
		}
		:global(.slick-track) {
			height: 100%;
		}
		:global(.slick-prev) {
			left: 25px;
			z-index: 2;
			&:before {
				opacity: 0;
			}
		}
		:global(.slick-next) {
			right: 25px;
			z-index: 2;
			&:before {
				opacity: 0;
			}
		}
		:global(.slick-dots) {
			bottom: 70px;
			li {
				transition: var(--transition);
				width: 15px;
				height: 15px;
				button {
					transition: var(--transition);
					width: 15px;
					height: 15px;
					&:before {
						transition: var(--transition);
						width: 15px;
						height: 15px;
						font-size: 0;
						border: solid 1px black;
						border-radius: 50px;
					}
				}
			}
			:global(.slick-active) {
				width: 20px;
				height: 20px;
				button {
					width: 20px;
					height: 20px;
					&:before {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
	.inside_left {
		padding-left: var(--container_left_space);
		background-color: #f3eae3;
		width: 50%;
		@include sm-down {
			width: 100%;
			padding: 20px;
		}
		.left_content {
			margin-top: 100px;
			width: 80%;
			@extend %relative_box;
			z-index: 1;
			@include sm-down {
				width: 100%;
				margin-top: 0;
			}
			.airspinTextImg {
				filter: invert(1);
			}
			.rupee_text {
				margin: 10px 0;
			}
			.colors {
				margin-bottom: 10px;
				@extend %d_flex;
				.colors_inside {
					background-color: black;
					width: 30px;
					height: 30px;
					border-radius: 50px;
					margin: 0 5px;
					cursor: pointer;
					&:first-child {
						margin-left: 0;
						background-color: #c1c1c1;
					}
					&:nth-of-type() {
						background-color: #212629;
					}
					&:nth-of-type(3) {
						background-color: #6b64cc;
					}
					&:nth-of-type(4) {
						background-color: #e89c77;
					}
					&:last-child {
						background-color: #7a98d3;
					}
				}
			}
			.inside_btn {
				width: 100%;
				text-align: center;
				border: solid 1px #560dbd;
				background-color: #560dbd;
				color: var(--color_primary);
				&:hover {
					background-color: transparent;
					color: #560dbd;
				}
			}
		}
	}
	.inside_right {
		width: 50%;
		padding-top: 35px;
		@include sm-down {
			width: 100%;
		}
		.product_img {
			width: 60%;
			height: 100vh;
			margin: 0 auto;
			@extend %f_r_a_center;
			@include sm-down {
				height: 70vh;
			}
			img {
				margin: 0 auto;
			}
		}
	}
}
.features {
	background-color: #6d2828;
	.features_img {
		img {
			width: 100%;
		}
		// img {
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: contain;
		// }
		&.desktop {
			height: 100vh;
			display: block;
			@include sm-down {
				display: none;
			}
		}
		&.mobile {
			display: none;
			@include sm-down {
				display: block;
			}
		}
	}
}
